<v-container style="display: flex; flex-direction: column; min-height: 100%;">  
    <v-layout class="card-group-stats" row style="min-height: 145px; flex: none" :class="{ 'wrap': !$vuetify.breakpoint.lgOnly }">
      <v-flex xs12 lg3 class="card-stats" justify-center>
        <div class="stats-counter" justify-center v-if='$vuetify.breakpoint.lgOnly'>
          {{ prettySeason }}
        </div>
        <div class="stats-counter text-center" v-else>{{ prettySeason }}</small></div>
      </v-flex>
  
      <v-flex xs12 sm3 md3 lg3 class="card-stats" v-if='usage'>
        <v-icon  id="verde" class="mb-1" color="ufabcnext-green" style="display: block;"size="40px">mdi-emoticon-happy-outline</v-icon>
        <div class="enrollments-title stats-counter">1 Matéria</div>
        <div class="stats-subtitle" id="textoA">sem risco de chute</div>
        <div>
          <v-progress-linear
            color="ufabcnext-green"
            height="6"
            :value="100"
            style="border-radius: .25rem;"
          ></v-progress-linear>
        </div>
      </v-flex>
  
      <v-flex xs12 sm3 md3 lg3 class="card-stats" v-if='usage'>
        <v-icon id="amarelo" class="mb-1" color="ufabcnext-yellow" style="display: block;"size="40px">mdi-emoticon-neutral-outline</v-icon>
        <div class="enrollments-title stats-counter">0 Matéria</div>
        <div class="stats-subtitle">com risco de chute</div>
        <div v-if='!$vuetify.breakpoint.xsOnly'>
          <v-progress-linear
            color="ufabcnext-yellow"
            height="6"
            value="100"
            style="border-radius: .25rem;"
          ></v-progress-linear>
        </div>
      </v-flex>
  
      <v-flex xs12 sm3 md3 lg3 class="card-stats" v-if='usage'>
        <v-icon id="vermelho" class="mb-1" color="ufabcnext-red" style="display: block;" size="40px">mdi-emoticon-sad-outline</v-icon>
        <div class="enrollments-title stats-counter">0 Matéria</div>
        <div class="stats-subtitle">com certeza de chute</div>
        <div v-if='!$vuetify.breakpoint.xsOnly'>
          <v-progress-linear
            color="ufabcnext-red"
            height="6"
            value="100"
            style="border-radius: .25rem;"
          ></v-progress-linear>
        </div>
      </v-flex>
  
      <v-flex xs12 sm3 md3 lg3 class="card-stats" v-if='overview'>
        <v-icon class="mb-1" color="ufabcnext-red" style="display: block;">mdi-import</v-icon>
        <div class="stats-counter">{{ Math.abs(overview.deficit) }}</div>
        <div class="stats-subtitle">{{ deficitLabel }}</div>
        <div v-if='!$vuetify.breakpoint.xsOnly'>
          <v-progress-linear
            color="ufabcnext-red"
            height="6"
            value="100"
            style="border-radius: .25rem;"
          ></v-progress-linear>
        </div>
      </v-flex>
  
    </v-layout>
    <v-layout column wrap class="white mt-3 pa-4" style="border-radius: 4px;">
    <div class="enrollments-title stats-counter">Status da matrícula</div>
    <table class="table">
      <thead>
        <tr class="table-title">
          <th >Nome</th>
          <th>Códido Disciplina</th>
          <th>Cr Corte</th>
          <th>Cp Corte</th>
          <th>Turno</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(subject, index) in subjects" :key="index" class="table-content">
          <td v-text="subject.name"></td>
          <td v-text="subject.code"></td>
          <td v-text="subject.thresholdCr"></td>
          <td v-text="subject.thresholdCp" v-bind:class="{isGreen: isGreen, isRed: isRed, isYellow: isYellow}"></td>
          <td v-text="subject.shift"></td>
          <td>
            <v-icon size="2rem" v-bind:class="{isGreen: isGreen, isRed: isRed, isYellow: isYellow}">mdi-emoticon-neutral-outline</v-icon>
          </td>
        </tr>
      </tbody>
    </table>
    </v-layout>
  </v-container>

